body {
    background-image: url(../images/Background.jpg);
    color: white;
    font-family: 'cabin', sans-serif;
}

.counter {
    margin-top: 0px;
}

.game {
    margin-top: 50px;
    margin-bottom: 50px;
}
.wins {
    margin-bottom: 50px;
}