body {
    background-image: url(../images/Background.jpg);
    color: white;
    font-family: 'cabin', sans-serif;
}

.counter {
    margin-top: 0px;
}

.game {
    margin-top: 50px;
    margin-bottom: 50px;
}
.wins {
    margin-bottom: 50px;
}

.blur {
    -webkit-filter: grayscale(100%) brightness(0);
    filter: grayscale(100%) brightness(0);
    opacity: 0.6;
}

h2 {
    text-align: center;
}

p {
    margin-left: 110px;
    margin-top: 50px;
}